
.idea/workspace.xml

.idea/vcs.xml

.idea/scopes/scope_settings.xml

.idea/PAA.iml

*.pyc

.idea/modules.xml

.idea/misc.xml

.idea/encodings.xml

.idea/codeStyleSettings.xml

.idea/.name

.pydevproject

.project

.idea/inspectionProfiles/profiles_settings.xml

.idea/inspectionProfiles/Project_Default.xml

.idea/workspace (MacJ's conflicted copy 2015-03-24).xml
